<div class="app">
  <p>Elapsion time:</p>
  <div class="slider">
    <div class="progress" [class.end-color]="!animationRunning">
      <div
        class="color"
        [class.start-animation]="animationRunning"
        [style.animation-duration]="updateAnimationDuration()"
        (animationend)="animationEnded()"
      ></div>
    </div>
  </div>
  <div class="slidecontainer">
    <span>Duration</span>
    <input
      type="range"
      [value]="duration"
      min="1"
      max="100"
      (input)="onDurationChange($event)"
    />
    <label for="myRange" class="label-duration"> {{ duration }} s </label>
  </div>
  <button (click)="startAnimation()">Start</button>
</div>
