.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  width: 100%;
}

.progress {
  position: relative;
  height: 10px;
  width: 95%;
  border: 3px solid #ffe6d1;
  border-radius: 15px;
  margin: auto;
}

.progress .color {
  position: absolute;
  background-color: #2a9d8f;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: none;
}

.progress .color.start-animation {
  animation: progres linear;
}

.progress.end-color {
  background-color: #2a9d8f !important;
}

.slidecontainer {
  display: flex;
  justify-content: center;
  padding: 15px 0 20px;
}

.label-duration {
  display: block;
}

button {
  background-color: #fffbd9;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  width: 250px;
  height: 40px;
  cursor: pointer;
}

@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
